@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
}

.App {
  user-select: none;
  height: 100vh;
  display: flex;
  background-color: #ffc793;
}
